.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.keyboard-wrapper,
.keyboard-wrapper *,
.keyboard-wrapper *:after,
.keyboard-wrapper *:before {
  box-sizing: border-box;
}
.keyboard-wrapper {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #EDF2F8;
  transform: translate3d(0, 0, 0);
  transition: transform .3s ease;
  color: #999999;
  font-size: 14px;
  z-index: 10000;
}
.keyboard-wrapper.toggle {
  transform: translate3d(-100%, 0, 0);
}
.keyboard-wrapper .keyboard-header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #FCFAFA;
  position: relative;
}
@media screen and (max-height: 520px) {
  .keyboard-wrapper .keyboard-header {
    height: 34px;
    line-height: 34px;
  }
}
.keyboard-wrapper .keyboard-header .header-title {
  margin: 0;
  color: #474747;
  letter-spacing: 1px;
  text-align: center;
}
.keyboard-wrapper .keyboard-header .close {
  position: absolute;
  top: 0px;
  left: 12px;
  font-size: 32px;
  height: 100%;
  color: #3983E3;
  padding-left: 4px;
  padding-right: 4px;
}
.keyboard-wrapper .plate-wrapper {
  padding: 16px;
}
@media screen and (max-height: 520px) {
  .keyboard-wrapper .plate-wrapper {
    padding: 10px 16px;
  }
}
.keyboard-wrapper .plate-wrapper .ake-btn {
  display: block;
  width: 100%;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 16px;
  background-color: #3983E3;
  color: #FFFFFF;
  border-radius: 6px;
}
@media screen and (max-height: 520px) {
  .keyboard-wrapper .plate-wrapper .ake-btn {
    height: 32px;
    line-height: 32px;
  }
}
.keyboard-wrapper .plate-box {
  display: flex;
  width: 100%;
  align-items: center;
  height: 45px;
  margin-bottom: 16px;
}
@media screen and (max-height: 520px) {
  .keyboard-wrapper .plate-box {
    height: 36px;
    margin-bottom: 10px;
  }
}
.keyboard-wrapper .plate-box.has-eight-item .plate-item {
  height: 38px;
}
@media screen and (max-height: 520px) {
  .keyboard-wrapper .plate-box.has-eight-item .plate-item {
    height: 30px;
  }
}
.keyboard-wrapper .plate-box .plate-item {
  flex: 1;
  display: inline-block;
  height: 43px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #333333;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-height: 520px) {
  .keyboard-wrapper .plate-box .plate-item {
    height: 34px;
    font-size: 20px;
  }
}
.keyboard-wrapper .plate-box .plate-item + .plate-item {
  border-left-width: 0px;
}
.keyboard-wrapper .plate-box .plate-item.active {
  border-color: #3983E3;
  box-shadow: inset 1px 1px 0px #3983E3, inset -1px -1px 0px #3983E3, inset 1px -1px 0px #3983E3, inset -1px 1px #3983E3, -1px 0px 0px #3983E3;
}
.keyboard-wrapper .plate-box .plate-item:nth-child(1).active,
.keyboard-wrapper .plate-box .plate-item:nth-child(3).active {
  box-shadow: inset 1px 1px 0px #3983E3, inset -1px -1px 0px #3983E3, inset 1px -1px 0px #3983E3, inset -1px 1px #3983E3;
}
.keyboard-wrapper .plate-box .plate-item:nth-child(2) {
  margin-right: 19px;
}
.keyboard-wrapper .plate-box .plate-item:nth-child(2) + .plate-item {
  border-left-width: 1px;
}
.keyboard-wrapper .plate-box .plate-item:nth-child(2)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -13px;
  margin-top: -2px;
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #999999;
}
.keyboard-wrapper .plate-box .plate-item.ake-hide {
  display: none;
}
.keyboard-wrapper .blue-plate-box {
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-end;
}
.keyboard-wrapper .blue-plate-box .iradio-box + .iradio-box {
  margin-left: 8px;
}
@media screen and (max-height: 520px) {
  .keyboard-wrapper .blue-plate-box {
    margin-bottom: 4px;
  }
}
.keyboard-wrapper .plate-type-box {
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
  margin-top: 10px;
}
@media screen and (max-height: 520px) {
  .keyboard-wrapper .plate-type-box {
    margin-bottom: 4px;
  }
}
.keyboard-wrapper .plate-type-box span {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding-left: 6px;
  padding-right: 6px;
}
.keyboard-wrapper .plate-type-box span:hover {
  color: #737373;
}
.keyboard-wrapper .icheck-label .icheck {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
  border: 2px solid #3983E3;
  border-radius: 4px;
  vertical-align: top;
}
.keyboard-wrapper .icheck-label .icheck:focus,
.keyboard-wrapper .icheck-label .icheck:active {
  outline: 0;
}
.keyboard-wrapper .icheck-label .icheck:checked {
  background: none;
  background-color: #3983E3;
  position: relative;
}
.keyboard-wrapper .icheck-label .icheck:checked::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 1px;
  display: inline-block;
  width: 10px;
  height: 6px;
  border: 2px solid #FFFFFF;
  border-top: 0;
  border-right: 0;
  background: none;
  transform: rotate(-45deg);
}
.keyboard-wrapper .iradio-box {
  display: inline-block;
  font-size: 12px;
  position: relative;
}
.keyboard-wrapper .iradio-box .iradio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 34px;
  height: 34px;
  position: relative;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
  background: none;
  background-color: transparent;
}
.keyboard-wrapper .iradio-box .iradio.blue::before {
  background-color: #3983E3;
}
.keyboard-wrapper .iradio-box .iradio.yellow::before {
  background-color: #FFCF00;
}
.keyboard-wrapper .iradio-box .iradio.white::before {
  background-color: #FFFFFF;
}
.keyboard-wrapper .iradio-box .iradio.black::before {
  background-color: #333333;
}
.keyboard-wrapper .iradio-box .iradio:focus,
.keyboard-wrapper .iradio-box .iradio:active {
  outline: 0;
}
.keyboard-wrapper .iradio-box .iradio::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 50%;
  margin-left: -6px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.keyboard-wrapper .iradio-box .iradio:checked {
  background: none;
  background-color: #FFFFFF;
}
.keyboard-wrapper .iradio-box .iradio-text {
  position: absolute;
  bottom: -1px;
  left: 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #333333;
}
.keyboard-wrapper .keyboard-container {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #CCCCCC;
}
.keyboard-wrapper .keyboard-container .keyboard-box {
  margin: 0;
  padding: 10px;
  list-style: none;
}
@media screen and (max-height: 520px) {
  .keyboard-wrapper .keyboard-container .keyboard-box {
    padding: 8px;
  }
}
.keyboard-wrapper .keyboard-container .keyboard-box li {
  display: flex;
  flex-flow: row wrap;
}
.keyboard-wrapper .keyboard-container .keyboard-box li.ake-hide {
  display: none;
}
.keyboard-wrapper .keyboard-container .keyboard-box li > .kb-item {
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  font-size: 17px;
  color: #696A6C;
  margin: 3px 5px;
  background-color: #FCFAFA;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
@media screen and (max-height: 520px) {
  .keyboard-wrapper .keyboard-container .keyboard-box li > .kb-item {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 15px;
  }
}
.keyboard-wrapper .keyboard-container .keyboard-box li > .kb-item.active {
  background-color: #3983E3;
  color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(2, 59, 134, 0.3);
}
.keyboard-wrapper .keyboard-container .keyboard-box li > .kb-item.placehold-item {
  background-color: transparent;
  box-shadow: none;
  color: transparent;
}
.keyboard-wrapper .keyboard-container .keyboard-box li.operate-list {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
@media screen and (max-height: 520px) {
  .keyboard-wrapper .keyboard-container .keyboard-box li.operate-list {
    right: 8px;
    bottom: 8px;
  }
}
.keyboard-wrapper .keyboard-container .keyboard-box li.operate-list > .kb-item {
  background-color: #999999;
  color: #FFFFFF;
  font-size: 15px;
}
@media screen and (max-height: 520px) {
  .keyboard-wrapper .keyboard-container .keyboard-box li.operate-list > .kb-item {
    font-size: 13px;
  }
}
.keyboard-wrapper .keyboard-container .keyboard-box li.operate-list > .kb-item.delete-one {
  position: relative;
}
.keyboard-wrapper .keyboard-container .keyboard-box li.operate-list > .kb-item.delete-one .delete-icon {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -8px;
  margin-right: -12px;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 14px;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  border: 2px solid #FFFFFF;
  border-left: 0px;
  border-radius: 4px;
}
@media screen and (max-height: 520px) {
  .keyboard-wrapper .keyboard-container .keyboard-box li.operate-list > .kb-item.delete-one .delete-icon {
    width: 16px;
    height: 16px;
    line-height: 14px;
    font-size: 20px;
    margin-top: -8px;
    margin-right: -11px;
  }
}
.keyboard-wrapper .keyboard-container .keyboard-box li.operate-list > .kb-item.delete-one .delete-icon:after {
  content: '';
  position: absolute;
  top: 0px;
  left: -4px;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  border-radius: 4px;
  transform: rotate(45deg);
}
@media screen and (max-height: 520px) {
  .keyboard-wrapper .keyboard-container .keyboard-box li.operate-list > .kb-item.delete-one .delete-icon:after {
    width: 12px;
    height: 12px;
    left: -5px;
  }
}
.ake-hide {
  display: none;
}
.hide {
  display: none !important;
}
.pull-right {
  float: right;
}
.lt20 {
  letter-spacing: 20px;
}
